flask
joblib
pandas
numpy
scikit-learn
apify-client
nltk
requests
pillow
easyocr
python-dotenv
timm
geomloss
albumentations
matplotlib
albumentations==1.3.0
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
scipy==1.15.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.4
streamlit==1.40.1
shapely
flask-socketio
python-socketio
